[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "realman_jinyu"
version = "0.0.1"
description = "Your MuJoCo gym envs"
requires-python = ">=3.10"

[tool.setuptools.packages.find]
where = ["."]
include = ["mujoco_learning*"]
